.home__main-description{
    &-container{
    margin-top: 0px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    &-subcontainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__circle-container{
        width: 550px;
        height: 550px;
        border-radius: 50%;
        border: 4px solid rgb(142, 56, 149);
        position: relative;
        top: 150px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:1115px){
            width: 250px;
            height: 250px;
        }
        &__circle{
            width: 96%;
            height: 96%;
            border-radius: 50%;
            border: 2px solid black;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/espacio.png.jpg');
        }
    }
    &__rectangle{
        height: 600px;
        @media(min-width:1115px){
            height: 500px;
        }
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        border: 2px solid rgb(142, 56, 149);
    }
    

}